<!-- <tr>
	<td><%= task.content %></td>
	<td><%= link_to 'Show', task %></td>
	<td><%= link_to 'Edit', edit_task_path(task) %></td>
	<td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% if task.state=='doing'%>
	<td><%= link_to 'mark as todo', change_task_path(task , state: "to_do") , method: :put %></td>
	<td><%= link_to 'mark as done', change_task_path(task , state: "done") , method: :put %></td>
	<% else %>
	<td><%= link_to 'mark as doing', change_task_path(task , state: "doing") , method: :put %></td>
	<% end %>
</tr> -->

<div class="panel panel-info">
	<div class="panel-heading">
	    created <%= time_ago_in_words(task.created_at)%> ago
	    <%= link_to '<span class="glyphicon glyphicon-wrench"></span>'.html_safe , edit_task_path(task) , class: "pull-right"%>
	</div>
	<div class="panel-body">
	  <%= task.content %>
	</div>
	<div class="panel-footer">
	 <% if task.state=='doing'%>
	<td><%= link_to '<span class="glyphicon glyphicon-hand-left"></span>'.html_safe, change_task_path(task , state: "to_do") , method: :put , class: "btn btn-success btn-block btn-md" %></td>
	<td><%= link_to '<span class="glyphicon glyphicon-hand-right"></span>'.html_safe, change_task_path(task , state: "done") , method: :put , class: "btn btn-warning btn-block btn-md" %></td>
	<% elsif task.state=='to_do' %>
	<td><%= link_to '<span class="glyphicon glyphicon-hand-right"></span>'.html_safe, change_task_path(task , state: "doing") , method: :put , class: "btn btn-success btn-block btn-md"%></td>
	<% else %>
		<td><%= link_to '<span class="glyphicon glyphicon-hand-left"></span>'.html_safe, change_task_path(task , state: "doing") , method: :put , class: "btn btn-warning btn-block btn-md"%></td>
		<td><%= link_to '<span class="	glyphicon glyphicon-remove"></span>'.html_safe, task , method: :delete ,data: {confirm: "are you sure"} ,class: "btn btn-danger btn-block btn-md"%></td>
	<% end %>
	</div>
</div>

<style>
	.glyphicon{
		color:black;
	}
</style>