<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 text-center">
      <h1>
        #TODOtasks
      </h1>
      <%= render @to_do %>
    </div>
    <div class="col-md-4 text-center">
      <h1>
        #TODOtasks  
      </h1>
      <%= render @doing %>
    </div>
    <div class="col-md-4 text-center">
      <h1>
        #DONEtasks
      </h1>
      <%= render @done %>
    </div>
  </div>
</div>

<br>

<h1><%= link_to '<span class="glyphicon glyphicon-plus-sign"></span>'.html_safe, new_task_path %></h1>